{% extends "blog/base.html" %} 
{% block content %} 

    {% for post in posts %}
    <!-- get posts context dictionary -->
        <article class="media content-section">
            <img
                class="rounded-circle article-img"
                src="{{ post.author.profile.image.url }}"
                alt=""
            />
            <div class="media-body article-top">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                    <small class="text-muted"
                        >{{ post.date_posted|date:"F d, Y" }} </small
                    >
                    <a href="{% url 'category' post.category %}" class="article-category">{{ post.category }}</a>
                    <!-- format date with |date ""  [check docs]-->
                </div>
                <h2>
                    <a class="article-title" href="{% url 'post-detail' post.id %}"
                        >{{ post.title }}</a
                    >
                </h2>
                {% if post.subheading %}
                    <p class="article-content">{{ post.subheading|safe }}</p>
                {% else %}
                    <p class="article-content hide-image">{{ post.content|safe|slice:"0:300" }}</p>
                {% endif %}
                <div class="likes"> <!-- Don't forget to style this!!!! -->
                    <i class="fas fa-arrow-up mr-1"></i>{{ post.total_likes }}
                    <i class="fas fa-arrow-down mr-1 ml-3"></i>{{ post.total_dislikes }}
                </div>
            </div>
        </article>
    {% endfor %} 

    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            {% comment %} <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a> {% endcomment %}
        {% endif %}

        {% comment %} Loop over all pages in range {% endcomment %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            {% comment %} <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number}}">Next</a> {% endcomment %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}
    
{% endblock content %}
