{% extends "blog/base.html" %} 
{% block content %}
<!-- get posts context dictionary -->
    <article class="media content-section">
        <img
            class="rounded-circle article-img"
            src="{{ object.author.profile.image.url }}"
            {% comment %} use object instead of post {% endcomment %}
            alt=""
        />
        <div class="media-body article-top">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' object.author.username %}">
                {{ object.author.first_name}} {{object.author.last_name }}</a>
                {% comment %} format date with |date ""  [check docs] {% endcomment %}
                <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
                <a href="{% url 'category' object.category %}" class="article-category">{{ object.category }}</a>

                {% if object.author == user %}
                <div>
                    <a
                        href="{% url 'post-update' object.id %}"
                        class="btn btn-secondary btn-sm mt-1 mb-1"
                        >Update</a
                    >
                    <a
                        href="{% url 'post-delete' object.id %}"
                        class="btn btn-danger btn-sm mt-1 mb-1"
                        >Delete</a
                    >
                </div>
                {% endif %}
            </div>
            
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-subtitle">{{ object.subheading }}</p>
            <p class="article-content">{{ object.content|safe }}</p>
            <hr>
            <form action="{% url 'post-like' post.pk %}" method=POST>
                {% csrf_token %}
                <button class="btn btn-primary btn-sm" type='submit' name='post_id' value='{{ post.id }}'>Like</button>
                <p>Total Likes: {{ post.total_likes }}</p>
            </form>
        </div>
    </article>
    <br><br>
    
{% endblock content %}
