{% extends "blog/base.html" %} 
{% block content %} 
    <h1 class="mb-3">Posts in {{ category }} </h1>
    {% for post in category_posts %}
        <article class="media content-section">
        <img
            class="rounded-circle article-img"
            src="{{ post.author.profile.image.url }}"
            alt=""
        />
        <div class="media-body article-top">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' post.author.username %}">
                {{ post.author }}
                </a>
                <!-- format date with |date ""  [check docs]-->
                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                <a href="#" class="article-category">{{ post.category }}</a>
            </div>
            <h2>
                <a class="article-title" href="{% url 'post-detail' post.id %}">
                {{ post.title }}
                </a>
            </h2>
            <p class="article-content">{{ post.content }}</p>
        </div>
    </article>
    {% endfor %}
   
{% endblock content %}
