{% extends "blog/base.html" %} 
{% block content %}
<!-- get posts context dictionary -->
    <article class="media content-section">
        <img
            class="rounded-circle article-img"
            src="{{ object.author.profile.image.url }}"
            {% comment %} use object instead of post {% endcomment %}
            alt=""
        />
        <div class="media-body article-top">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' object.author.username %}">
                {{ object.author.first_name}} {{object.author.last_name }}</a>
                {% comment %} format date with |date ""  [check docs] {% endcomment %}
                <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
                <a href="{% url 'category' object.category %}" class="article-category">{{ object.category }}</a>
                
                {{ object.tags.name }}
                {% if object.author == user %}
                <div>
                    <a
                        href="{% url 'post-update' object.id %}"
                        class="btn btn-secondary btn-sm mt-1 mb-1"
                        >Update</a
                    >
                    <a
                        href="{% url 'post-delete' object.id %}"
                        class="btn btn-danger btn-sm mt-1 mb-1"
                        >Delete</a
                    >
                </div>
                {% endif %}
            </div>
            
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-subtitle">{{ object.subheading }}</p>
            <p class="article-content">{{ object.content|safe }}</p>
            
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-3">
                        <img class="article-end-img" src="{{ object.author.profile.image.url }}" alt="...">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                        <a href="{% url 'profile-page' object.author.profile.id %}">Profile</a>
                            <h4 class="card-title mb-2">{{ object.author.first_name }} {{ object.author.last_name }}</h4>
                            <div class="small text-muted mb-3">
                                {% if object.author.profile.website %}
                                    <a class="mr-2" target="blank" href="{{ object.author.profile.website }}"><i class="fas fa-home fa-2x"></i></a>
                                {% endif %}
                                {% if object.author.profile.linkedin %}
                                    <a class="mr-2" target="blank" href="{{ object.author.profile.linkedin }}"><i class="fab fa-linkedin-in fa-2x"></i></a>
                                {% endif %}
                                {% if object.author.profile.github %}
                                    <a class="mr-2" target="blank" href="{{ object.author.profile.github }}"><i class="fab fa-github fa-2x"></i></a>
                                {% endif %}
                                {% if object.author.profile.twitter %}
                                    <a class="mr-2" target="blank" href="{{ object.author.profile.twitter }}"><i class="fab fa-twitter fa-2x"></i></a>
                                {% endif %}
                                {% if object.author.profile.instagram %}
                                    <a class="mr-2" target="blank" href="{{ object.author.profile.instagram}}"><i class="fab fa-instagram fa-2x"></i></a>
                                {% endif %}
                                {% if object.author.profile.facebook %}
                                    <a class="mr-2" target="blank" href="{{ object.author.profile.facebook }}"><i class="fab fa-facebook fa-2x"></i></a>
                                {% endif %}
                                
                            </div>
                            <p class="card-text">{{ object.author.profile.bio }}</p>
                        </div>
                    </div>
                </div>
            </div>
                            
            {% if user.is_authenticated %}
                <hr>
                <div class="likes">
                    <form action="{% url 'post-like' post.pk %}" method=POST>
                        {% csrf_token %}
                        {% comment %} <button class="btn btn-primary btn-sm" type='submit' name='post_id' value='{{ post.id }}'>Like</button> {% endcomment %}
                        <button id="like" class="btn btn-outline-secondary btn-sm" style="border: 0" name='post_id' value='{{ post.id }}'><i class="fas fa-arrow-up"></i></button>{{ post.total_likes }}
                    </form>
                    <form action="{% url 'post-dislike' post.pk %}" method=POST>
                        {% csrf_token %}
                        
                        <button id="dislike" class="btn btn-outline-secondary btn-sm ml-3" style="border: 0" name='post_id_down' value='{{ post.id }}'><i class="fas fa-arrow-down"></i></button>{{ post.total_dislikes }}
                    </form>
                </div>
                
            {% endif %}

            <h2>Comments</h2>
            {% if not post.comments.all %}
                Be the first to comment... <a href="#"><i class="fas fa-comment"></i></a>
            {% else %}
                {% for comment in post.comments.all%}
                    <strong>{{ comment.name }} on {{ comment.date }}</strong>
                    <br>
                    {{ comment.body }}
                {% endfor %}
            {% endif %}
        </div>
    </article>
    <br><br>
    
{% endblock content %}

<script>
    document.querySelector("#like").addEventListener('click', function(e) {
        e.preventDefault();
        });</script>
